name: Deploy to itch.io
on: 
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install butler
      run: |
        curl -L -o butler.zip https://broth.itch.zone/butler/linux-amd64/LATEST/archive/default
        unzip butler.zip
        chmod +x butler

    - name: Check target exists
      run: ./butler status krisvih32alt/pixel-perfect-platformer:html
      env:
        BUTLER_API_KEY: ${{ secrets.ITCHIO_API_KEY }}

    - name: Upload HTML game
      run: ./butler push . krisvih32alt/pixel-perfect-platformer:html --userversion ${{ github.sha }}
      env:
        BUTLER_API_KEY: ${{ secrets.ITCHIO_API_KEY }}
