name: Deploy to itch.io
on: [push]  # Triggers on commits to main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Download butler
      run: wget https://broth.itch.zone/butler/linux-amd64/LATEST/archive/default -O butler.zip && unzip butler.zip
    - name: Push HTML build
      run: ./butler push . krisvih32alt/pixel-perfect-platformer:html --userversion ${{ github.sha }}
      env:
        BUTLER_API_KEY: ${{ secrets.ITCHIO_API_KEY }}  
